<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <!-- imported CSS are concatenated and added automatically -->
  <!-- <link rel="stylesheet" type="text/css" href="scss  /index.scss"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
</head>

<body aurelia-app="main">
  <div class="menu">
    <div class="menu-background" data-toggle-class="expanded-menu" data-target="body"></div>
    <div class="side-menu">
      <div class="brand">
        <div class="brand-label">
          <i class="fa fa-at"></i>
          <span>My Site</span>
        </div>
      </div>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-th-list"></i>
            <span>Workflows</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog"></i>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span>Account</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="site-content">
    <div class="top-menu">
      <div class="hamburger-wrapper" data-toggle-class="expanded-menu" data-target="body">
        <div class="hamburger">
          <i class="bars"></i>
        </div>
      </div>
    </div>
    <div class="page-menu">
      <div class="brand">
        <!-- <div class="brand-label">
          <i class="fa fa-at"></i>
          <span>My Site</span>
        </div> -->
      </div>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-columns"></i>
            <span>Overview</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-copy"></i>
            <span>My Files</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-desktop"></i>
            <span>Indexing</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user-check"></i>
            <span>QA</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-exclamation-triangle"></i>
            <span>Rejected</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-recycle"></i>
            <span>Recycle Bin</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-map-marker"></i>
            <span>File Tracking</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-history"></i>
            <span>History</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="page-content">
      <button class="btn" data-toggle-class="expanded-menu" data-target="body">Toggle</button>
    </div>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
