.hamburger {
  display: flex;
  align-items: center;
  width: 16px;
  height: 32px;
  margin: 0 auto;
  position: relative;
  background: white;
}

.hamburger-wrapper {
  width: 48px;
}

.hamburger:hover {
  // background: #c0392b;
}

.bars,
.bars:before,
.bars:after {
  position: relative;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background: #7a7c7c;
  // border-radius: 2px;
  transition: top .2s .2s,
    transform .2s,
    background 0 .2s;
}

.bars:before,
.bars:after {
  content: "";
  display: block;
  position: absolute;
  transition: top .2s,
    width .2s,
    transform .2s;
}

.bars:before {
  top: -5px;
}

.bars:after {
  top: 5px;
}

body.expanded-menu .bars:before,
body.expanded-menu .bars:after {
  //top: 0;
  width: 66%;
}

body.expanded-menu .bars {
  //background: transparent;
}

body.expanded-menu .bars:before {
  transform: translateX(-2px) translateY(2px) rotate(-45deg);
}

body.expanded-menu .bars:after {
  transform: translateX(-2px) translateY(-2px) rotate(45deg);
}
