@import url(http://fonts.googleapis.com/css?family=Montserrat:400,300,700);

@import './_variables.scss';
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import '../../node_modules/bootstrap/scss/mixins/_lists.scss';
@import './hamburger.scss';

@mixin side-menu-hidden {
  .side-menu {
    transform: translateX(-$side-menu-width);
    visibility: hidden;
  }
}

@mixin side-menu-narrow {
  .side-menu {
    width: 80px;
    .brand {
      padding: 18px 18px;
      height: 80px;
      i.fa {
        font-size: 2.8em;
      }
      span {
        opacity: 0;
        transform: translateX(50px);
      }
    }
    ul {
      padding: 10px;
      li {
        padding-top: 10px;
        a {
          white-space: nowrap;
          padding: 10px 18px;
          i.fa {
            font-size: 1.5em;
            margin-bottom: 1em;
          }
          span {
            position: absolute;
            font-size: 0.6em;
            top: 5.5em;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@mixin side-menu-wide {
  .side-menu {
    left: 0;
    top: 0;
    bottom: 0;
    width: $side-menu-width;
    position: fixed;
    background: $menu-color;
    overflow-y: scroll;
    z-index: 1100;
  }
}

@mixin background-hidden {
  .menu-background {
    visibility: hidden;
    opacity: 1;
    display: none;
  }
}

@mixin background-visible {
  .menu-background {
    visibility: visible;
    opacity: 0;
    display: block;
  }
  .page-menu, .page-content {
    opacity: 0.3;
  }
}

@mixin shaddow($depth) {
  transition: all $transition-time cubic-bezier(.25,.8,.25,1);
  @if $depth == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $depth == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $depth == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $depth == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $depth == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@mixin no-decoration() {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

@mixin menu-list() {
  padding-top: 10px;
  transition:
    padding $transition-time;
  @include list-unstyled();
  li {
    transition:
      padding $transition-time;
    white-space: nowrap;
    @include no-decoration();
    a {
      transition:
        padding $transition-time;
      text-decoration: none;
      padding: 10px 15px;
      display: block;
      border-radius: 4px;
      i.fa {
        transition:
          font-size $transition-time;
      }
      span {
        transition:
          left $transition-time,
          right $transition-time,
          top $transition-time,
          font-size $transition-time,
          transform $transition-time;
        display: inline-block;
        position: absolute;
        left: 48px;
      }
    }
  }
}

html {
  min-height: 100%;
  min-width: 100%;
  background: black;
}
body {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: Montserrat;

  .menu-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    transition:
      display $transition-time,
      opacity $transition-time,
      visibility $transition-time;
    z-index: 1000;
  }
  .menu {
    .side-menu {
      left: 0;
      top: 0;
      bottom: 0;
      position: fixed;
      background: $menu-color;
      overflow-y: scroll;
      transition:
        transform $transition-time,
        visibility $transition-time,
        padding $transition-time,
        width $transition-time;
      z-index: 1100;
      @include shaddow(1);
      .brand {
        height: 64px;
        background: lighten($menu-color, 5%);
        color: white;
        padding: 15px 10px;
        white-space: nowrap;
        transition:
          height $transition-time,
          padding $transition-time;
        @include shaddow(1);
        i.fa {
          font-size: 1.5em;
          transition:
            font-size $transition-time;
        }
        span {
          font-size: 1.5em;
          margin-left: 10px;
          display: inline-block;
          transition:
            opacity $transition-time,
            transform $transition-time;
        }
      }
      ul {
        @include menu-list();
        li {
          position: relative;
          color: white;
          a {
            color: white;
            &:hover {
              background: darken($menu-color, 10%);
            }
            &:active {
              background: darken($menu-color, 15%);
            }
            span {
              right: 100%;
              text-align: center;
              top: 10px;
            }
          }
        }
      }
    }
  }

  .page-menu {
    width: 200px;
    min-height: 100%;
    position: absolute;
    background: white;
    @include shaddow(1);
    transition: all $transition-time;
    .brand {
      height: 80px;
      color: white;
      padding: 15px 10px;
      white-space: nowrap;
      transition:
        height $transition-time,
        padding $transition-time;
      @include shaddow(1);
    }
    ul {
      @include menu-list();
      li {
        color: #666;
        a {
          color: #666;
          &:hover {
            background: darken(white, 10%);
          }
          &:active {
            background: darken(white, 15%);
          }
        }
      }
    }
  }
  .page-content {
    left: 200px;
    padding: 10px;
    position: absolute;
    transition: all $transition-time;
  }
}

// ## MOBILE
@include media-breakpoint-between(xs, xs) {
  body {
    .site-content {
      background: #fafafa;
      left: 0;
      right: 0;
      bottom: 0;
      top: 48px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      position: fixed;
    }
    .top-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 48px;
      padding: 8px;
      width: 100%;
      background: white;
      z-index: 1200;
      @include shaddow(1);
    }
    &:not(.expanded-menu) {
      @include background-hidden();
      .menu {
        @include side-menu-hidden();
        .side-menu {
          top: 48px;
        }
      }
    }
    &.expanded-menu {
      @include background-visible();
      .menu {
        @include side-menu-wide();
        .side-menu {
          top: 48px;
          @include shaddow(2);
        }
      }
      .top-menu {
        @include shaddow(2);
      }
    }
  }
}

// ## TABLET
@include media-breakpoint-between(sm, lg) {
  body {
    .site-content {
      background: #fafafa;
      right: 0;
      bottom: 0;
      top: 0;
      left: 80px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      position: fixed;
      transition: all $transition-time;
    }
    .menu {
      .top-menu {
        display: none;
      }
    }
    &:not(.expanded-menu) {
      @include background-hidden();
      .menu {
        @include side-menu-narrow();
      }
      .site-content {
        // left: 68px;
      }
    }
    &.expanded-menu {
      @include background-visible();
      .menu {
        @include side-menu-wide();
      }
      .page-menu {
        .brand {
          height: 64px;
        }
      }
    }
  }
}

// ## SCREEN
@include media-breakpoint-up(xl) {
  body {
    .site-content {
      background: #fafafa;
      right: 0;
      bottom: 0;
      top: 0;
      left: $side-menu-width;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      position: fixed;
      transition: all $transition-time;
    }
    .menu {
      @include side-menu-wide();
      .top-menu {
        display: none;
      }
    }
    @include background-hidden();
    .page-menu {
      .brand {
        height: 64px;
      }
    }
  }
}
